body {
font-family: 'Ubuntu', sans-serif;	
font-weight: 300;
color:red;
}

h6,
h5,
h4,
h3,
h2,
h1 {
font-family: 'Arvo', serif;	
font-weight:600;
}

.navbar-brand img {width:375px}


#footer {background-color:#346275;color:#fff}

#footer2{background-color:#1c4051;color:#fff}

#lowerfooter{background-color:#000000;color:#fff}

#lowerfooter{font-size:60px;margin:16px 12px 8px 3px}

#footer3{background-color:#346275;color:#fff}


.pbox img {z-index:-1;border-radius:8px}
.pbox button {z-index:2;position:absolute;right:25%;padding:8px;margin-top:-48px;border-radius:8px;background-color:white;border;2px black solid;color:black}
.pbox button:hover {background-color:black;border;2px white solid;color:white}

